<div class="row m-5">
  <form class="col-12 text-center">
    <div class="row">
      <div class="col-6">
        <label for=""> Enter your Number</label>
        <input
          type="number"
          class="form-control my-3"
          [value]="mycurrentnum"
          #curr
        />
      </div>
      <div class="col-6">
        <label for=""> Enter your Limit</label>

        <input
          type="number"
          class="form-control my-3"
          [value]="mylimit"
          #limit
        />
      </div>
      <button
        class="btn btn-info my-3 text-light"
        (click)="change(curr.value, limit.value)"
      >
        Print Result
      </button>
    </div>
  </form>
  <ul class="col-12 list list-group list-group-flush text-center">
    <li class="list-group-item" *ngFor="let item of list">{{ item }}</li>
  </ul>
</div>
